.filtros{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 1cm;
}

.caracFiltros {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: .125rem;
}

#filtro{
    float: left;
    margin-right: 2cm;
    padding-right: 1cm;
}

#descripcion{
    float: right;
    margin-right: 15vw;
    padding-left: 1cm;
    margin-top: 5cm;
}

.producto{
    width: 30vw;
    border: black;
    border-style: solid;
}

.agregarCarro{
    transition-duration: 0.4s;
    padding: 7px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    background-color: #00c48e;
    border-radius: 5px;
    border-color: #295040;
    border-style: solid;
}

.agregarCarro:hover{
    color: #00c48e;
    background-color: white;
    border-color: #295040;
    border-style: solid;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: #295040;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
}

h5{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0;
    padding-top: 0;
}

body{
    background-image: url('../img/humo.png');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size:auto;
}