/*Header*/
.header {
    padding: 1rem;
    display: block;
}

.logo {
    position: relative;
}

.busqueda{
    width: 50%;
}

img[name="Logo"]{
    width: 17vw;
}

.navlink {
    display: block;
    padding: .5rem 1rem;
    color: white;
    text-decoration: none;
    font-family: Arial;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
} 

h2 {
    text-align: center;
}

/*Carrusel*/
#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;

    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;

    height: 500px;
    width: 300%;
}

#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}

.imagenes{
    height: 500px;
    width: 100%;
}

.carrusel-elemento {
    float: left;
    width: 33.333%;
}

@-moz-keyframes automatizacion {
    0% {margin-left: 0;}
    30% {margin-left: 0;}
    35% {margin-left: -100%;}
    65% {margin-left: -100%;}
    70% {margin-left: -200%;}
    95% {margin-left: -200%;}
    100% {margin-left: 0;}
}

@-webkit-keyframes automatizacion {
    0% {margin-left: 0;}
    30% {margin-left: 0;}
    35% {margin-left: -100%;}
    65% {margin-left: -100%;}
    70% {margin-left: -200%;}
    95% {margin-left: -200%;}
    100% {margin-left: 0}
}

@keyframes automatizacion {
    0% {margin-left: 0;}
    30% {margin-left: 0;}
    35% {margin-left: -100%}
    65% {margin-left: -100%;}
    70% {margin-left: -200%;}
    95% {margin-left: -200%;}
    100% {margin-left: 0;}
}

/*Mas vendidos*/
.vendidos{
	background-image: url('../img/humo.png');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size:auto;
}

.cardbody{
    font-family: Arial, Helvetica, sans-serif;
}

/*Pie de página*/
.logoMini{
	display: inline-block;
	width: 10vw;
	float: left;
}

.redes{
	display: inline-block;
	clear: both;
}

img.redes{
	width: 2vw;
}

#copy{
	font-family: "Times New Roman", "Bell MT";
	font-weight: bold;
}